body {
    background-color: rgb(10, 17, 37);
}
.link {
  font-size: 25px;
  color: rgb(47, 57, 85);
  position: absolute;
  top: 2%;
  left: 92.5%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: 'Maria', sans-serif;
}
.link:hover {
  color: rgb(109, 123, 163);
}
#track-title {
      font-size: 25px;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s;
  align-self: center;
    color: rgb(109, 123, 163);
    position: absolute;
    top: 40%;
    right: 89%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: 'Maria', sans-serif;
}

#track-artist {
      font-size: 25px;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s;
  align-self: center;
    color: rgb(109, 123, 163);
    position-anchor: center;
    position: absolute;
    top: 40%;
    right: 78%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: 'Maria', sans-serif;
}

#track-title:hover, #track-artist:hover {
  text-decoration: underline;
  opacity: 0.8;
}

#track-title {
  font-weight: bold;
}

.PlayingSeparator {
      font-size: 25px;
  color: inherit;
  text-decoration: none;
  transition: opacity 0.2s;
  align-self: center;
    color: rgb(109, 123, 163);
    position: absolute;
    top: 37.5%;
    right: 89%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: 'Maria', sans-serif;
}